<h2 mat-dialog-title>TVs Relacionadas</h2>

<mat-dialog-content>
  <p>Selecione as TVs onde esta mídia deve aparecer:</p>
  
  <div cdkDropList class="tv-list" (cdkDropListDropped)="onDrop($event)">
    @for (tv of tvOptions; track tv.tv.id) {
      <div cdkDrag class="tv-item" [class.active]="tv.selected">
        <div class="tv-item-content">
          <div class="drag-handle" cdkDragHandle>
            <span class="material-icons">drag_indicator</span>
          </div>
          
          <div class="tv-order">{{ tv.order }}</div>
          
          <mat-checkbox [(ngModel)]="tv.selected" color="primary">
            {{ tv.tv.tv_name }}
            <span class="tv-location">(#{{ tv.tv.id }})</span>
          </mat-checkbox>
          
          <div class="spacer"></div>
        </div>
      </div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>