<h2 mat-dialog-title>TVs Relacionadas</h2>

<mat-dialog-content>
  <p>Selecione a TV onde esta mídia deve aparecer:</p>
  
  <div class="tv-list">
    @for (tv of tvOptions; track tv.tv.tv_id) {
      <div class="tv-item" [class.active]="tv.selected">
        <div class="tv-item-content">       
          <mat-checkbox (change)="onCheckboxChange($event, tv)" [checked]="tv.selected" color="primary">
            {{ tv.tv.tv_name }}
            <span class="tv-location">(#{{ tv.tv.tv_id }})</span>
          </mat-checkbox>
          
          <div class="spacer"></div>
        </div>
      </div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>