<section class="dashboard-edit">
  <button class="back-button" (click)="returnDashboard()" mat-flat-button>
      <span class="action-button">
          <mat-icon>chevron_left</mat-icon>Voltar
      </span>
  </button>
  
  <div class="container">
    <mat-card>
      <mat-card-header class="table-header">
        <mat-card-title class="tv-title"><mat-icon class="link-to-tv-icon" (click)="openTv()">link</mat-icon>{{ selectedTv?.tv_name }}<span class="tv-id">#{{ selectedTv?.tv_id }}</span></mat-card-title>
        <mat-card-actions align="end">
          <button type="button" mat-flat-button (click)="fileInput.click()"><mat-icon>add</mat-icon> Nova mídia</button>
          <input hidden (change)="onFileUpload($event)" #fileInput type="file" multiple id="file">
        </mat-card-actions>
      </mat-card-header>
  
      <mat-card-content>
        <div cdkDropList class="media-list" (cdkDropListDropped)="onDrop($event)">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 media-table">
            <!-- Order Column -->
            <ng-container  matColumnDef="order">
              <th mat-header-cell *matHeaderCellDef>Ordem <span style="position: absolute;padding-left: 2px; font-size: 10px;">(1-20)</span></th>
              <td mat-cell cdkDragHandle *matCellDef="let item">
                <div class="order-cell">
                  <div class="drag-handle" >
                    <mat-icon>drag_indicator</mat-icon>
                  </div>
                    <input
                      class="order-duration-input"
                      matInput
                      type="number"
                      [value]="item.media_order"
                      (focusout)="onMediaOrderBlur($event, item)"
                      (keydown.enter)="onMediaOrderBlur($event, item)"
                    />
                </div>
              </td>
            </ng-container>
  
            <!-- Thumbnail Column -->
            <ng-container matColumnDef="thumbnail">
              <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
              <td mat-cell *matCellDef="let item">
                <img
                  [class.imageIsNotActive]="!item.is_active"
                  [src]="`${mediaBaseUrl}/${item.url_image}`"
                  class="media-thumbnail"
                  alt="Media thumbnail">
              </td>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let item"> {{ item.media_name }} </td>
            </ng-container>

            <!-- TVs Column -->
            <ng-container matColumnDef="tvs">
              <th mat-header-cell *matHeaderCellDef> TVs Relacionadas </th>
              <td mat-cell *matCellDef="let item">
                <div [class.related-tvs-section]="item.related_tvs.length > 0">
                  @if(item.related_tvs.length > 0) {
                    <ul class="related-tvs-list"> 
                      @for(related_tv of item.related_tvs;  track related_tv.tv_id) { 
                        <li><p>{{ related_tv.name }}</p></li>
                      }
                    </ul>
                  }
                  <button [class.not-related]="item.related_tvs.length <= 0" class="related-tvs-button" mat-mini-fab color="primary" (click)="openRelatedTvDialog(item)" matTooltip="Nº de TVs">
                    {{ getTvCount(item) }}
                  </button>
                </div>
              </td>
            </ng-container>

            <!-- Dates Column -->
            <ng-container matColumnDef="dates">
              <th mat-header-cell *matHeaderCellDef> Período de exibição </th>
              <td mat-cell *matCellDef="let item">
                <div class="dates-container">
                  <mat-form-field>
                    <mat-label>Selecione o período de exibição</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input
                          matStartDate
                          [value]="item.start_time"
                          placeholder="Data inicial"
                          (dateChange)="updateStartDate(item, $event.value)"
                        >
                        <input
                          matEndDate
                          [value]="item.end_time"
                          placeholder="Data final"
                          (dateChange)="updateEndDate(item, $event.value)"
                        >
                    </mat-date-range-input>
                    <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
  
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let item">
                <span class="status" [class.statusNotActive]="!item.is_active" [class.statusActive]="item.is_active"></span>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row" class="media-item"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>