.tv-edit button {
    padding: 4px;
    margin-bottom: 12px;
}

.tv-edit h2 {
    text-align: center;
    margin-bottom: 16px;
}

.slide-order {
    width: 50%;
}

.tv-edit img {
    width: 100%;
}

.tv-edit-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 16px 0;
    gap: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid #000;
}


.drawer-container {
    background-color: #fff;
    width: 500px;
    height: 300px;
    overflow-x: hidden;
    scrollbar-width: none;
}


.drawer-sidenav {
    padding: 20px;
    scrollbar-width: none;
}

.drawer-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.linked-tv-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
}