<section class="tv-edit">
    <h2>
        {{selectedTv?.name}}
    </h2>

    <ul>
        @for (image of selectedTv?.images; track image) {
            <li class="tv-edit-item">
                <img [src]="image.url_image" alt="media tv">

                <mat-form-field class="slide-order">
                    <mat-label>Ordem</mat-label>
                    <mat-select>
                        @for (ordem of ordens; track ordem) {
                        <mat-option [value]="ordem">{{ordem}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Selecione o período de exibição</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Data inicial">
                        <input matEndDate placeholder="Data final">
                    </mat-date-range-input>
                    <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <mat-drawer-container class="drawer-container" autosize >
                    <mat-drawer #drawer class="drawer-sidenav" mode="side" position="end">
                        @for (tvs of tvsList; track tvs) {
                            <mat-checkbox>
                                {{tvs}}
                                <mat-form-field class="slide-order">
                                    <mat-label>Ordem</mat-label>
                                    <mat-select>
                                        @for (ordem of ordens; track ordem) {
                                        <mat-option [value]="ordem">{{ordem}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </mat-checkbox>
                        }
                    </mat-drawer>

                    <div class="drawer-sidenav-content">
                        <button type="button" mat-flat-button (click)="drawer.toggle()">
                            @if(drawer.opened) {
                                <p>X</p>
                            } @else {
                                <span class="linked-tv-button">
                                    <mat-icon>link</mat-icon>TVs Relacionadas
                                </span>
                            }
                        </button>
                    </div>
                </mat-drawer-container>
            </li>
        }
    </ul>
</section>
