.tv-card { 
  background-color: #f9f9f9;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
  border-radius: 24px;
}

.tv-card-header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 12px 16px;
}

.delete-tv-icon {
  position: absolute;
  right: 12px;
  color: rgb(95, 95, 95);
  cursor: pointer;
  transition: 300ms;
}

.delete-tv-icon:hover {
  color: #2e2e2e;
  transform: scale(1.1);
}

.card-header-image {
  background-image: url('/assets/logo-gsoul.png');
  background-size: contain;
  background-color: white;
  background-position: center;
  margin-bottom: 0;
  border: 1px solid #d3d3d3;
}

.tv-card-title {
  font-size: 16px;
  text-transform: capitalize;
}

.tv-card-images {
  height: 240px;
  background-color: #e9e9e9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 16px;
}

.tv-card-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.tv-card-actions {
  justify-content: flex-end;
  gap: 8px;
  padding: 16px;
}

.tv-card-actions button:first-of-type {
  color: #d8871c;
}

.tv-card-actions button:last-of-type {
  background-color: #599332;
}

@media (min-width: 760px) {
  /* .tv-card {
    width: 375px;
    height: 360px;
  } */
}