<mat-card class="tv-card" appearance="outlined">
  <mat-card-header class="tv-card-header">
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title class="tv-card-title">{{tv.name}}</mat-card-title>
    <mat-icon (click)="toggleDelete()" class="delete-tv-icon">delete</mat-icon>
  </mat-card-header>
  <div class="tv-card-images">
            @for (image of tv.images; track $index) {
                <img src="{{image.url_image}}" alt="TV Image {{ $index + 1 }}" />
            }
  </div>
  <mat-card-actions class="tv-card-actions">
    <button (click)="onClickEdit()" mat-stroked-button><mat-icon>edit</mat-icon>Editar</button>
    <button (click)="onClickViewTv()" mat-flat-button><mat-icon>open_in_new</mat-icon>Visualizar</button>
  </mat-card-actions>
</mat-card>