<section class="dashboard">
    @if (isFetching() && !error()) {
        <mat-spinner style="margin: auto; margin-top: 200px;"></mat-spinner>
    }

    @if (error()) {
        <p style="text-align: center; margin-top: 24px;">{{ error() }}</p>
    }

    <button (click)="isEditing ? toggleEdit() : addTv()" mat-flat-button>
        @if (isEditing) {
            <span class="action-button">
                <mat-icon>chevron_left</mat-icon>Voltar
            </span>
        } @else {
            <span class="action-button">
                <mat-icon >add</mat-icon>Adicionar TV
            </span>
        }
    </button>
    
    @if (isEditing) {
        
        <app-tv-edit [selectedTv]="selectedTv" />
    } @else {
        <!-- <button (click)="addTv()">Add +</button> -->
        <ul>
            @for (tv of tvs(); track tv.id) {
                <li>
                    <app-tvs-preview [tv]="tv" (edit)="onSelectTvEdit($event)"/>
                </li>
            }
        </ul>
    }
</section>
