<section class="dashboard">
    <img width="150px" height="96.09px" src="assets/logo-gsoul.png" alt="Logo grupo soul" />

    @if (isFetching() && !error()) {
        <mat-spinner style="margin: auto; margin-top: 200px;"></mat-spinner>
    }

    @if (error()) {
        <p style="text-align: center; margin-top: 24px;">{{ error() }}</p>
    }

    @if (isEditing) {
        <button (click)="toggleEdit()" mat-flat-button><mat-icon >chevron_left</mat-icon>Voltar</button>
        <app-tv-edit [selectedTv]="selectedTv" />
    } @else {
        <!-- <button (click)="addTv()">Add +</button> -->
        <ul>
            @for (tv of tvs(); track tv.id) {
                <li>
                    <app-tvs-preview [tv]="tv" (edit)="onSelectTvEdit($event)"/>
                </li>
            }
        </ul>
    }
</section>
